.calendar
{
	padding: 0px 20px;
	margin: 25px auto 0 auto;

	.calendar-header
	{
		display: grid;
		grid-template-columns: 50px auto 50px;
		margin-bottom: 20px;

		.header-text
		{
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			font-size: 18px;
		}

		.header-month
		{
			font-weight: 500;
		}

		.header-year
		{
			font-weight: bold;
		}
	}

	.calendar-line
	{
		&.header
		{
			color: var(--tg-theme-link-color);
			font-weight: 600;
		}

		display: grid;
		grid-template-columns: repeat(7, 1fr);
		text-align: center;
		margin-bottom: 10px;
		gap: 15px;

		.calendar-item
		{
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			margin: auto;
			font-weight: 450;
			width: 32px;
			height: 32px;
			border-radius: 50%;

			&:hover
			{
				background-color: var(--tg-theme-secondary-bg-color);
				color: var(--tg-theme-text-color);
			}

			&.today
			{
				color: var(--tg-theme-button-color);

				&:hover
				{
					background-color: var(--tg-theme-button-color);
					color: var(--tg-theme-button-text-color);
				}
			}
		}
	}
}
