.lesson-card
{
	display: flex;
	flex-direction: column;
	border: solid 1px rgb(0,0,0);
	padding: 10px 20px;


	.lesson-card-header
	{
		display: flex;
		flex-direction: row;
		gap: 15px;
		font-size: 14px;
		margin-bottom: 10px;

		.lesson-order
		{
			display: flex;
			justify-content: center;
			align-items: center;

			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: rgba(0,0,0,0.1);
		}
		
		.lesson-type
		{
			display: flex;
			align-items: center;
		}

		.lesson-time
		{
			display: flex;
			align-items: center;

			margin-left: auto;
		}
	}

	.lesson-card-body
	{
		margin-bottom: 15px;
	}
}