.schedule
{
	margin: 25px auto 0px auto;

	.schedule-header
	{
		display: grid;
		grid-template-columns: 40px auto 40px 40px;
		
		padding: 0px 20px;
		margin-bottom: 20px;

		font-size: 18px;
		font-weight: 500;

		.header-text
		{
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 8px;

			font-size: 18px;

			.day
			{
				font-weight: bold;
			}
		}
	}

	.lessons-list
	{
		display: flex;
		flex-direction: column;

		gap: 15px;
	}

	.weekend-title
	{
		margin: 10px auto;
		font-weight: bold;
		font-size: large;
	}
}